# Environment configuration
# Copy this file to .env.local for local development
# Copy this file to .env for production (on the server)

# PULL SECRETS FROM BITWARDEN -> "Pain Point Studio - Dev Secrets"

# App Config
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"

# Basic Auth (PRODUCTION)
# BASIC_AUTH_USER="DEPLOY_CREDENTIALS_USERNAME"
# BASIC_AUTH_PASSWORD="DEPLOY_CREDENTIALS_PASSWORD"

# Build & CI
# CI="true"
# STANDALONE="true" 
